*{
    margin: 0rem;
    padding: 0rem;
}
#profile{
    width:20%;
}
#search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 90%;
    /* background-color: aqua; */
}
#searchBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
    height: 60%;
    border-radius: 3rem;
    background-color: white;
    /* height: 3rem; */
}
#searchIcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-image: linear-gradient(to right, rgb(215, 0, 183), darkorchid);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
#searchIconImg{
    height: 80%;
    width: auto;
    filter: grayscale(100%) brightness(1000);
}
#type{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    width: 90%;
    /* background-color: aqua; */
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
#typeIn{
    width: 100%;
    height: 100%;
    margin: 0rem;
    padding-left: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    /* background-color: aquamarine; */
    border: none;
}
#links{
    width: 15%;
}

#main{
    display: flex;
    flex-direction: row;
    height: 78vh;
    width: 100%;
    /* background-color: black; */
    top: 5.5rem;
    position: fixed;
    background-image: linear-gradient(180deg,#141414,rgb(215, 0, 183));
}
#navigator{
    display: flex;
    flex-direction: column;
    height: 78vh;
    width: 20%;
    background-color: rgb(127, 255, 142);
}
#musicBody{
    /* display: flex;
    flex-direction: column; */
    align-items: center; 
    height: 100%;
    width: 80%;
    /* flex-wrap: wrap ; */
    overflow: hidden;
    overflow-y: auto;
    /* background-image: linear-gradient(180deg,#141414,rgb(88, 1, 93)); */
    /* border-radius: 3rem; */
    /* overflow-x: hidden; */
}
#musicPlayer{
    height: 10vh;
    width: 100%;
    background-color: aquamarine;
    top: 89.8vh;
    position: fixed;
}
#musicContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: azure; */
}
.music{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 1rem;
    width: 13rem;
    height: 17rem;
    background-color: transparent;
    border-radius: 1rem;
    z-index: 0;
}
.music::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha (fourth) value for the desired level of transparency */
    border-radius: 1rem;
    z-index: -1;
    /* background-color: aqua; */

}
.musicImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 1rem; */
    color: white;
    height: 60%;
    width: 90%;
    font-family: "Chopin";
    text-align: center;
    font-weight: 600;
    font-size: 5rem;
    
    /* background-color:antiquewhite; */
    z-index: 1;
}
.musicContent{
    height: 40%;
    width: 90%;
    font-size: 1.1rem;
    /* background-color: aliceblue; */
}
.musicDesc{
    font-size: 0.9rem;
    color: #141414;
}