<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KalpRaag : A Music Screaming Platform</title>
    <link rel="stylesheet" href="../../static/styles/index.css">
    <link rel="stylesheet" href="../../static/styles/user.css">
    <link rel="stylesheet" href="../../static/styles/playlist.css">
    <link rel="stylesheet" href="../../static/styles/album.css">
    <link rel="stylesheet" href="../../static/styles/creator_dash.css">
    <link rel="stylesheet" href="../../static/styles/admin_dash.css">
    <link rel="stylesheet" href="../../static/styles/search.css">
    <link rel="stylesheet" href="../../static/styles/admin_songs.css">
    <link rel="stylesheet" href="../../static/styles/admin_album.css">
    <link rel="icon" href="../../static/images/KalpRaag Logo Rounded.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav id="navbar">
        <div id="profile">
            <img src="../../static/images/KalpRaag Logo.png" alt="KalpRaag Logo" id="logo">
            <p>Kalp Raag</p>
            <!-- <p>Kalp राग</p> -->
        </div>
        <div id="search">
            <div id="searchBox">
                <div id="searchIcon" data-user-name="{{user_name}}">
                    <img src="../../static/images/search.png" alt="Search Btn" id="searchIconImg">
                </div>
                <select id="filterList" >
                    <option value="All">All</option>
                    <option value="Song">Song</option>
                    <option value="Album">Album</option>
                    <option value="Rating">Rating</option>
                    <option value="Genre">Genre</option>
                    <option value="Artist">Artist</option>
                </select>
                <div id="type">
                    <input type="text" name="search" id="typeIn" placeholder="What's on your mind today?">
                </div>
            </div>
        </div>
        <div id="links">
            <a href="/" class="link">User Mode</a>
        </div>
    </nav>
    <hr>
    <section id="main">
        <div id="navigator">
            <div id="library">
                <a href="../{{user_name}}" style="color: white;text-decoration: none;"><h1>Dashboard &nbsp;&#11166;</h1></a>
                <h1>Navigator &nbsp;&#11166;</h1>
                <a class="linkContainer" href="../{{user_name}}/allSongs">
                    <img src="../../static/images/play.png" alt="" class="navSuper">
                    <h3 class="links">Songs</h3>
                </a>
                <a class="linkContainer" href="../{{user_name}}/allAlbums">
                    <img src="../../static/images/album.png" alt="" class="navSuper">
                    <h3 class="links">Albums</h3>
                </a>
                <a class="linkContainer" href="../{{user_name}}/allUsers">
                    <img src="../../static/images/user.png" alt="" class="navSuper">
                    <h3 class="links">Users</h3>
                </a>
                <a class="linkContainer" href="../{{user_name}}/allCreators">
                    <img src="../../static/images/creator.png" alt="" class="navSuper">
                    <h3 class="links">Creators</h3>
                </a>
            </div>
        </div>
        <div id="musicBody">
            <div id="musicContainer">
                {% for i in creatorData %}
                    <div class="albo" style="height: 16rem;">
                        <div class="albumCont">
                            <div class="albumimg" style="margin-top: 1rem;">
                                <img src="../../static/images/creator.png" class="albumImgAct" alt="">
                            </div>
                            <div class="albumDetails">
                                <p class="albumName">{{i["user_name"]}}</p>
                                <p class="albumArtist">Songs: {{i["song_count"]}}</p>
                                <p class="albumArtist">Albums: {{i["album_count"]}}</p>
                            </div>
                        </div>

                        <div class="musicDeleter">
                            {% if listData[i["creator_id"]|string] %}
                                {% if listData[i["creator_id"]|string]["list_type"]=="white" %}
                                    <a href="/admin-creator-whitelist-remove?creator_id={{i['creator_id']}}&admin_name={{user_name}}" class="deleteSong" data-album-id={{i['album_id']}} data-user-name="{{user_name}}" style="background-color:rgb(255, 255, 0);" title="Remove Creator from Whitelist">
                                        <img src="../../static/images/whitelist.png" alt="Play" class="musicControl" style="filter:none;height: 70%;">
                                    </a>
                                    <a href="/admin-creator-blacklist?creator_id={{i['creator_id']}}&admin_name={{user_name}}" class="flagSong" data-album-id={{i['album_id']}} data-user-name="{{user_name}}" style="background-color: #3e3e3e;" title="Blacklist Creator">
                                        <img src="../../static/images/blacklist.png" alt="Play" class="musicControl" style="height: 70%;">
                                    </a>
                                {% else %}
                                    <a href="/admin-creator-whitelist?creator_id={{i['creator_id']}}&admin_name={{user_name}}" class="deleteSong" data-album-id={{i['album_id']}} data-user-name="{{user_name}}" style="background-color:white;" title="Whitelist Creator">
                                        <img src="../../static/images/whitelist.png" alt="Play" class="musicControl" style="filter:none;height: 70%;">
                                    </a>
                                    <a href="/admin-creator-blacklist-remove?creator_id={{i['creator_id']}}&admin_name={{user_name}}" class="flagSong" data-album-id={{i['album_id']}} data-user-name="{{user_name}}" style="background-color: rgb(113, 233, 0);" title="Remove Creator from Blacklist">
                                        <img src="../../static/images/blacklist.png" alt="Play" class="musicControl" style="height: 70%;">
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="/admin-creator-whitelist?creator_id={{i['creator_id']}}&admin_name={{user_name}}" class="deleteSong" data-album-id={{i['album_id']}} data-user-name="{{user_name}}" style="background-color:white;" title="Whitelist Creator">
                                    <img src="../../static/images/whitelist.png" alt="Play" class="musicControl" style="filter:none;height: 70%;">
                                </a>
                                <a href="/admin-creator-blacklist?creator_id={{i['creator_id']}}&admin_name={{user_name}}" class="flagSong" data-album-id={{i['album_id']}} data-user-name="{{user_name}}" style="background-color: #3e3e3e;" title="Blacklist Creator">
                                    <img src="../../static/images/blacklist.png" alt="Play" class="musicControl" style="height: 70%;">
                                </a>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="musicPlayer">
        <div id="musicDetails">
            <div id="musicImgBottom">
            </div>
            <div id="musicContentBottom">
                <p id="musicNameBottom"></p>
                <p id="musicArtistBottom"></p>
                <!-- <p id="musicDurationBottom"></p> -->
            </div>
        </div>
        <div id="playBtns">
            <div id="lyricsCont">
                <div id="lyrics">
                    Read Lyrics
                </div>
            </div>
            <div id="controlers">
                <div id="previous" class="controlerCont">
                    <img src="../../static/images/back.png" alt="Previous Song" id="musicBarPrevious" class="controlers">
                </div>
                <div id="previous10Sec" class="controlerCont">
                    <img src="../../static/images/10secback.png" alt="10sec back" id="musicBarPrevious10Sec"
                        class="controlers">
                </div>
                <div id="playPause" class="controlerCont">
                    <img src="../../static/images/play.png" alt="Play" id="musicBarPlayPause" class="controlers">
                </div>
                <div id="forward10Sec" class="controlerCont">
                    <img src="../../static/images/10secforward.png" alt="10sec back" id="musicBarForward10Sec"
                        class="controlers">
                </div>
                <div id="forward" class="controlerCont">
                    <img src="../../static/images/next.png" alt="Forward Song" id="musicBarForward" class="controlers">
                </div>
            </div>

    </section>
    <script src="../../static/scripts/liked_songs.js"></script>
    <script src="../../static/scripts/playlist.js"></script>
    <script src="../../static/scripts/album.js"></script>
    <script src="../../static/scripts/admin_album.js"></script>

    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
</body>

</html>