<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KalpRaag : A Music Screaming Platform</title>
    <link rel="stylesheet" href="../../static/styles/index.css">
    <link rel="stylesheet" href="../../static/styles/user.css">
    <link rel="stylesheet" href="../../static/styles/playlist.css">
    <link rel="stylesheet" href="../../static/styles/album.css">
    <link rel="stylesheet" href="../../static/styles/creator_dash.css">
    <link rel="icon" href="../../static/images/KalpRaag Logo Rounded.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav id="navbar">
        <div id="profile">
            <img src="../../static/images/KalpRaag Logo.png" alt="KalpRaag Logo" id="logo">
            <p>Kalp Raag</p>
            <!-- <p>Kalp राग</p> -->
        </div>
        <div id="search">
            <div id="searchBox">
                <div id="searchIcon" data-user-name="{{user_name}}">
                    <img src="../../static/images/search.png" alt="Search Btn" id="searchIconImg">
                </div>
                <select id="filterList" >
                    <option value="All">All</option>
                    <option value="Song">Song</option>
                    <option value="Album">Album</option>
                    <option value="Rating">Rating</option>
                    <option value="Genre">Genre</option>
                    <option value="Artist">Artist</option>
                </select>
                <div id="type">
                    <input type="text" name="search" id="typeIn" placeholder="What's on your mind today?">
                </div>
            </div>
        </div>
        <div id="links">
            <a href="../user/{{user_data['user_name']}}" class="link">User Mode</a>
            <a href="/">Logout</a>
        </div>
    </nav>
    <hr>
    <section id="main">
        <div id="navigator">
            <div id="library">
                <h1>Your Library &nbsp;&#11166;</h1>
                <div class="linkContainer">
                    <img src="../../static/images/play.png" alt="" class="navSuper">
                    <h3 class="links">Uploaded Songs</h3>
                </div>

                {% for i in song_ids %}
                    <div class="navImgs indexer songPlayer playlists" style="height: max-content;width: max-content;margin-left:5rem" data-song-id="{{i['song_id']}}" data-user-name="{{user_name}}">&#11166;&ensp;{{i["song_name"][0]|upper}}{{i["song_name"][1:]}}</div>
                {% endfor %}

                <div class="linkContainer">
                    <img src="../../static/images/album.png" alt="" class="navSuper">
                    <h3 class="links">Created Albums</h3>
                </div>
                {% for i in album_ids %}
                    <div class="navImgs indexer albumPlayer playlists" style="height: max-content;width: max-content;margin-left:5rem" data-album-id="{{i['album_id']}}" data-user-name="{{user_name}}">&#11166;&ensp;{{i["album_name"][0]|upper}}{{i["album_name"][1:]}}</div>
                <script src="../../static/scripts/creator_alternate.js"></script>
            {% endfor %}
            </div>
        </div>
        <div id="musicBody">
            <!-- {% set playlistName = playlistName|replace('%20',' ') %} -->
            <div id="playlistDetails">
                <h1 id="playlistName">
                    <img src="../../static/images/Dashboard.png" alt="" id="playlistIcon">
                    Dashboard
                </h1>
            </div>
            <div id="dashboard">
                <div class="card">
                    <h1 class="cardHeader">Total Songs Uploaded</h1>
                    <div class="cardInfo">{{stats["song_count"]}}</div>
                </div>
                <div class="card">
                    <h1 class="cardHeader">Total Albums Uploaded</h1>
                    <div class="cardInfo">{{stats["album_count"]}}</div>
                </div>
                <div class="card">
                    <h1 class="cardHeader">Total Likes</h1>
                    <div class="cardInfo">{{stats["total_likes"]}}</div>
                </div>
                <div class="card">
                    <h1 class="cardHeader">Average Songs Rating</h1>
                    <div class="cardInfo">{{stats["avg_rating"]}}</div>
                </div>
                <div class="card">
                    <h1 class="cardHeader">Average Album Saves</h1>
                    <div class="cardInfo">{{stats["avg_album"]}}</div>
                </div>
            </div>
            <div id="logSelection">
                {% if window=="songs" %}
                    <div id="signin" data-creator-id={{creator_id}} data-user-name="{{user_name}}">Songs</div>
                    <div id="signup" data-creator-id={{creator_id}} data-user-name="{{user_name}}">Albums</div>
                {% else %}
                    <div id="songs" data-creator-id={{creator_id}} data-user-name="{{user_name}}">Songs</div>
                    <div id="albums" data-creator-id={{creator_id}} data-user-name="{{user_name}}">Albums</div>
                    <!-- <script src="../../static/scripts/creator_alternate.js"></script> -->
                {% endif %}

            </div>
            <div id="contentDroper">
                {% if window=="songs" %}
                    <a href="./{{user_name}}/add-song" id="songer">
                        + Add Song
                    </a>
                    {% for i in song_ids %}
                        <div class="songer">
                            <div class="songDetails">
                                <img src="../../static/images/play.png" alt="" class="navImgs indexer songPlayer" data-song-id="{{i['song_id']}}" data-user-name="{{user_name}}">
                                <p class="song_name">{{i["song_name"][0]|upper}}{{i["song_name"][1:]}}</p>
                            </div>
                            <div class="songControls">
                                <img src="../../static/images/edit.png" alt="" class="navImgs indexer" data-user-id="{{i['song_id']}}">
                                <img src="../../static/images/delete.png" alt="" class="navImgs indexer" data-user-id="{{i['song_id']}}">
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <a href="./{{user_name}}/create-album" id="songer">
                        + Add Album
                    </a>
                    {% for i in album_ids %}
                        <div class="songer">
                            <div class="songDetails">
                                <img src="../../static/images/album.png" alt="" class="navImgs indexer albumPlayer" data-album-id="{{i['album_id']}}" data-user-name="{{user_name}}">
                                <p class="song_name">{{i["album_name"][0]|upper}}{{i["album_name"][1:]}}</p>
                            </div>
                            <div class="songControls">
                                <img src="../../static/images/edit.png" alt="" class="navImgs indexer" data-user-id="{{i['album_id']}}">
                                <img src="../../static/images/delete.png" alt="" class="navImgs indexer" data-user-id="{{i['album_id']}}">
                            </div>
                        </div>
                        <script src="../../static/scripts/creator_alternate.js"></script>
                    {% endfor %}
                {% endif %}

            </div>
            <!-- <div id="musicContainer">
                {% for i in allSongs %}
                    <div class="music">
                        <div class="musicImg"> {{ i["song_name"][0]|upper }}</div>
                        <div class="musicContent">
                            <p class="musicName">{{ i["song_name"][0]|upper + i["song_name"][1:]}}</p>
                            <p class="musicDesc">{{ i["artist_id"] }}</p>
                            {% set dur = i["duration"] %}
                            {% set min = (dur//60) %}
                            {% set sec = (dur%60) %}
                            {% if min < 10 %} 
                                {% set min=("0" + min|string) %} 
                            {% endif %} 
                            {% if sec < 10 %} 
                                {% set sec=("0" + sec|string) %} 
                            {% endif %} 
                            <p class="musicDesc">{{ min }}:{{ sec }}</p>
                        </div>
                        <div class="controlCont">
                            <div class="controlBtn update-content-link" data-song-id="{{i['song_id']}}"
                                data-user-name="{{user_name}}">
                                <img src="../../static/images/play.png" alt="Play" class="control">
                            </div>
                        </div>
                        <div class="musicDeleter" data-playlist-name="{{playlistName}}" data-user-name="{{user_name}}" data-song-id={{i['song_id']}} data-playlist-id={{playlistId}}>
                            Delete Song
                        </div>
                    </div>
                {% endfor %}
            </div> -->
        </div>
    </section>
    <section id="musicPlayer">
        <div id="musicDetails">
            <div id="musicImgBottom">
            </div>
            <div id="musicContentBottom">
                <p id="musicNameBottom"></p>
                <p id="musicArtistBottom"></p>
            </div>
        </div>
        <div id="playBtns">
            <div id="lyricsCont">
                <div id="lyrics">
                    Read Lyrics
                </div>
            </div>
            <div id="controlers">
                <div id="previous" class="controlerCont">
                    <img src="../../static/images/back.png" alt="Previous Song" id="musicBarPrevious" class="controlers">
                </div>
                <div id="previous10Sec" class="controlerCont">
                    <img src="../../static/images/10secback.png" alt="10sec back" id="musicBarPrevious10Sec"
                        class="controlers">
                </div>
                <div id="playPause" class="controlerCont">
                    <img src="../../static/images/play.png" alt="Play" id="musicBarPlayPause" class="controlers">
                </div>
                <div id="forward10Sec" class="controlerCont">
                    <img src="../../static/images/10secforward.png" alt="10sec back" id="musicBarForward10Sec"
                        class="controlers">
                </div>
                <div id="forward" class="controlerCont">
                    <img src="../../static/images/next.png" alt="Forward Song" id="musicBarForward" class="controlers">
                </div>
            </div>

    </section>
    <!-- <script src="../../static/scripts/index.js"></script> -->

    <!-- <script src="../../static/scripts/liked_songs.js"></script> -->
    <!-- <script src="../../static/scripts/playlist.js"></script> -->
    <!-- <script src="../../static/scripts/album.js"></script> -->
    <script src="../../static/scripts/creator_dash.js"></script>
    <script src="../../static/scripts/creator_alternate.js"></script>

    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
</body>

</html>