<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Creator</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/creator_register.css">
    <link rel="icon" href="../static/images/KalpRaag Logo Rounded.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav id="navbar">
        <div id="profile">
            <img src="../static/images/KalpRaag Logo.png" alt="KalpRaag Logo" id="logo">
            <p>Kalp Raag</p>
            <!-- <p>Kalp राग</p> -->
        </div>
        <div id="links">
            <a href="#">Admin Sign In</a>
        </div>
    </nav>
    <!-- <hr> -->
    <section id="section1">
        <div id="signing">
            <div id="secPic">
                <img src="../static/images/front page pic rem.png" alt="">
            </div>
            <div id="sign">
                <div id="logContent">
                    <h1 id="loggerHead"><span>Register as Creator</span></h1>
                    <p id="oath">
                        I solemnly pledge, as a creator on this music platform, to weave melodies that resonate with authenticity. I promise to share my soul through songs, crafting albums that echo passion. With respect for the craft and a commitment to artistic integrity, I contribute to the harmonious tapestry of our musical community. I acknowledge that uploading inappropriate songs or albums may result in consequential actions against my account.
                    </p>
                    <div id="agree" data-user="{{user_name}}">
                        Agree and Continue &#8594;
                    </div>
                </div>
            </div>

        </div>

    </section>
    <script src="../static/scripts/creator_register.js"></script>

</body>

</html>