<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KalpRaag : A Music Screaming Platform</title>
    <link rel="stylesheet" href="../../static/styles/index.css">
    <link rel="stylesheet" href="../../static/styles/user.css">
    <link rel="stylesheet" href="../../static/styles/playlist.css">
    <link rel="stylesheet" href="../../static/styles/album.css">
    <link rel="stylesheet" href="../../static/styles/creator_dash.css">
    <link rel="stylesheet" href="../../static/styles/add_album.css">
    <link rel="stylesheet" href="../../static/styles/edit_album.css">
    <link rel="icon" href="../../static/images/KalpRaag Logo Rounded.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav id="navbar">
        <div id="profile">
            <img src="../../static/images/KalpRaag Logo.png" alt="KalpRaag Logo" id="logo">
            <p>Kalp Raag</p>
            <!-- <p>Kalp राग</p> -->
        </div>
        <div id="search">
            <div id="searchBox">
                <div id="searchIcon" data-user-name="{{user_name}}">
                    <img src="../../static/images/search.png" alt="Search Btn" id="searchIconImg">
                </div>
                <select id="filterList" >
                    <option value="All">All</option>
                    <option value="Song">Song</option>
                    <option value="Album">Album</option>
                    <option value="Rating">Rating</option>
                    <option value="Genre">Genre</option>
                    <option value="Artist">Artist</option>
                </select>
                <div id="type">
                    <input type="text" name="search" id="typeIn" placeholder="What's on your mind today?">
                </div>
            </div>
        </div>
        <div id="links">
            <a href="../../user/{{user_name}}" class="link">User Mode</a>
            <a href="/">Logout</a>
        </div>
    </nav>
    <hr>
    <section id="main">
        <div id="navigator">
            <div id="library">
                <h1>Your Library &nbsp;&#11166;</h1>
                <div class="linkContainer">
                    <img src="../../static/images/play.png" alt="" class="navSuper">
                    <h3 class="links">Uploaded Songs</h3>
                </div>

                {% for i in song_ids %}
                    <div class="navImgs indexer songPlayer playlists" style="height: max-content;width: max-content;margin-left:5rem" data-song-id="{{i['song_id']}}" data-user-name="{{user_name}}">&#11166;&ensp;{{i["song_name"][0]|upper}}{{i["song_name"][1:]}}</div>
                {% endfor %}

                <div class="linkContainer">
                    <img src="../../static/images/album.png" alt="" class="navSuper">
                    <h3 class="links">Created Albums</h3>
                </div>
                {% for i in album_ids %}
                    <div class="navImgs indexer albumPlayer playlists" style="height: max-content;width: max-content;margin-left:5rem" data-album-id="{{i['album_id']}}" data-user-name="{{user_name}}">&#11166;&ensp;{{i["album_name"][0]|upper}}{{i["album_name"][1:]}}</div>
                <script src="../../static/scripts/creator_alternate.js"></script>
            {% endfor %}
            </div>
        </div>
        <div id="musicBody">
            <div id="musicContainer">
                <div id="playlistDetails">
                    <h1 id="playlistName">
                        <img src="../../static/images/album.png" alt="" id="playlistIcon">
                        {{albumData["album_name"][0]|upper}}{{albumData["album_name"][1:]}}
                    </h1>
                </div>
                
            </div>
            <form action="/edit-album-form?album_id={{albumData['album_id']}}&user_name={{user_name}}" method="POST" style="margin-top: 0rem;">
                <label for="title" class="labeler">Title</label>
                <input type="text" class="inputer" name="title" value="{{albumData['album_name']}}" placeholder="Edit Album Title">
                <label for="artist" class="labeler">Artist</label>
                <input type="text" class="inputer" name="artist" value="{{artist_name}}" placeholder="Edit Album Artist">
                <label for="genre" class="labeler">Genre</label>
                <input type="text" class="inputer" name="genre" value="{{albumData['genre']}}" placeholder="Edit Album Genre">
                <label for="songList" class="labeler">Pick songs for this album</label>
                <select id="songList" name="songList" multiple>
                    {% for song in song_ids %}
                        {% if song in songList %}
                            <option value="{{song['song_id']}}" selected>{{song["song_name"][0]|upper}}{{song["song_name"][1:]}}</option>
                        {% else %}
                            <option value="{{song['song_id']}}">{{song["song_name"][0]|upper}}{{song["song_name"][1:]}}</option>
                        {% endif %}

                    {% endfor %}
                </select>
                <input type="submit" value="Edit Album" id="submitBtn">
            </form>
        </div>
    </section>
    <section id="musicPlayer">
        <div id="musicDetails">
            <div id="musicImgBottom">
            </div>
            <div id="musicContentBottom">
                <p id="musicNameBottom"></p>
                <p id="musicArtistBottom"></p>
                <!-- <p id="musicDurationBottom"></p> -->
            </div>
        </div>
        <div id="playBtns">
            <div id="lyricsCont">
                <div id="lyrics">
                    Read Lyrics
                </div>
            </div>
            <div id="controlers">
                <div id="previous" class="controlerCont">
                    <img src="../../static/images/back.png" alt="Previous Song" id="musicBarPrevious" class="controlers">
                </div>
                <div id="previous10Sec" class="controlerCont">
                    <img src="../../static/images/10secback.png" alt="10sec back" id="musicBarPrevious10Sec"
                        class="controlers">
                </div>
                <div id="playPause" class="controlerCont">
                    <img src="../../static/images/play.png" alt="Play" id="musicBarPlayPause" class="controlers">
                </div>
                <div id="forward10Sec" class="controlerCont">
                    <img src="../../static/images/10secforward.png" alt="10sec back" id="musicBarForward10Sec"
                        class="controlers">
                </div>
                <div id="forward" class="controlerCont">
                    <img src="../../static/images/next.png" alt="Forward Song" id="musicBarForward" class="controlers">
                </div>
            </div>

    </section>
    <!-- <script src="../../static/scripts/index.js"></script> -->

    <!-- <script src="../../static/scripts/liked_songs.js"></script> -->
    <!-- <script src="../../static/scripts/playlist.js"></script> -->
    <!-- <script src="../../static/scripts/album.js"></script> -->
    <script src="../../static/scripts/creator_dash.js"></script>
    <script src="../../static/scripts/creator_alternate.js"></script>
    <script src="../../static/scripts/edit_album.js"></script>

    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
</body>

</html>