<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KalpRaag : A Music Screaming Platform</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/user.css">
    <link rel="icon" href="../static/images/KalpRaag Logo Rounded.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav id="navbar">
        <div id="profile">
            <img src="../static/images/KalpRaag Logo.png" alt="KalpRaag Logo" id="logo">
            <p>Kalp Raag</p>
            <!-- <p>Kalp राग</p> -->
        </div>
        <div id="search">
            <div id="searchBox">
                <div id="searchIcon">
                    <img src="../static/images/search.png" alt="Search Btn" id="searchIconImg">
                </div>
                <div id="type">
                    <input type="text" name="search" id="typeIn" placeholder="What's on your mind today?">
                </div>

            </div>

        </div>
        <div id="links">
            <a href="#" class="link">Become a Creator</a>
            <a href="/">Logout</a>
        </div>
    </nav>
    <hr>
    <section id="main">
        <div id="navigator">
            <div id="nav">
                
            </div>
        </div>
        <div id="musicBody">
            <div id="musicContainer">
                {% for i in allSongs %}
                <div class="music">
                    <div class="musicImg"> {{ i["song_name"][0]|upper }}</div>
                    <div class="musicContent">
                        <p class="musicName">{{ i["song_name"][0]|upper + i["song_name"][1:]}}</p>
                        <p class="musicDesc">{{ i["artist_id"] }}</p>
                        {% set dur = i["duration"] %}
                        {% set min = (dur//60) %}
                        {% set sec = (dur%60) %}
                        {% if min < 10 %} {% set min=("0" + min|string) %} {% endif %} {% if sec < 10 %} {% set sec=("0"
                            + sec|string) %} {% endif %} <p class="musicDesc">{{ min }}:{{ sec }}</p>
                    </div>
                    <div class="controlCont">
                        <div class="controlBtn update-content-link" data-song-id="{{i['song_id']}}">
                            <img src="../static/images/play.png" alt="Play" class="control">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="musicPlayer">
        <div id="musicDetails">
            <div id="musicImgBottom">


            </div>
            <div id="musicContentBottom">
                <p id="musicNameBottom"></p>
                <p id="musicArtistBottom"></p>
                <!-- <p id="musicDurationBottom"></p> -->
            </div>
            <div id="musicFav">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                    <path fill="white" class="svg"
                        d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181" />
                </svg>
            </div>
        </div>
        <div id="playBtns">
            <div id="lyricsCont">
                <a href="/user/{{user_name}}" id="lyrics">
                    Read Lyrics
                </a>
            </div>
            <div id="controlers">
                <div id="controlBack">
                    <img src="../static/images/back.png" alt="Play" id="musicBarControlBack">
                </div>
                <div id="controler">
                    <img src="../static/images/play.png" alt="Play" id="musicBarControl">
                </div>
            </div>

    </section>
    <script src="../static/scripts/musicBar.js"></script>

    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
</body>

</html>