<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KalpRaag : A Music Screaming Platform</title>
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/user.css">
    <link rel="icon" href="../static/images/KalpRaag Logo Rounded.png">
</head>
<body>
    <nav id="navbar">
        <div id="profile">
            <img src="../static/images/KalpRaag Logo.png" alt="KalpRaag Logo" id="logo">
            <p>Kalp Raag</p>
            <!-- <p>Kalp राग</p> -->
        </div>
        <div id="search">
            <div id="searchBox">
                <div id="searchIcon">
                    <img src="../static/images/search.png" alt="Search Btn" id="searchIconImg">
                </div>
                <div id="type">
                    <input type="text" name="search" id="typeIn" placeholder="What's on your mind today?">
                </div>
                
            </div>
            
        </div>
        <div id="links">
            <a href="#">Become a Creator</a>
        </div>
    </nav>
    <hr>
    <section id="mainBody">
        <div id="navigator">

        </div>
        <div id="musicBody">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
        </div>
    </section>
    <section id="musicPlayer">

    </section>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
</body>
</html>